<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Local Css -->
    <link rel="stylesheet" href="./style/style.css">

    <title>Love Calculator | {{title}}</title>
</head>
<body class="colorWhite">
    {{>header}}
    <div class="">
        <h1>
            {{score}}
        </h1>
        <p class="description">
            {{desc}}
        </p>
    </div>
    {{>footer}}
    
</body>
</html>