<nav class="lcnav colorTheme navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand lcbrand" href="#">Lovecal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Policies</a>
            <a class="nav-link" href="#">Suggestions</a>
            <a class="nav-link" href="#">Credit</a>
            <a class="nav-link" href="#">Share</a>
        </div>
    </div>
</nav>